div.custom-container {
  /* background-color: #242424; */
  height: 100%;
}

/* svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
} */

svg.custom .node text {
	font-size: 11px;
	background-color: #444;
	/* fill: #F4F4F4; */
  text-shadow: 0 1px 4px black;
  width: 100%;
  height: 100%;
}

svg.custom2 .node text {
	font-size: 11px;
	background-color: #444;
	/* fill: #F4F4F4; */
  text-shadow: 0 1px 4px black;
  width: 100%;
  height: 100%;
}

.tabLabel {
  font-weight: 'bold';
}

svg.custom  {
  cursor: pointer;
}
svg.custom2  {
  cursor: pointer;
}

svg.custom:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

svg.custom path.link {
	fill: none;
  /* stroke: #2593B8; */
  stroke: #8B0000;
	stroke-width: 1.7px;
}

svg.custom2 path.link {
	fill: none;
  /* stroke: #2593B8; */
  stroke: #8B0000;
	stroke-width: 1.7px;
}

/* .con-node {
  fill: red;
  stroke: red;
	stroke-width: 4px;
}

.pro-node {
  fill: green;
  stroke: green;
  stroke-width: 4px;
  
} */

.con-node {
  fill: url('#image2');
	stroke-width: 4px;
}
.pro-node {
  fill: url('#image1');
  stroke-width: 4px;
  
}

.seed {
  fill: url('#seed');
  stroke-width: 4px;
  
}

.ball {
  cursor: pointer;
  width: 100px;
}

text {
  cursor: pointer;
    /* uncomment to hide text, check if better option than hidden, can still click? */
  /* display: none;  */

}

.hide-me {
  display: none;
}

img {
  cursor: pointer;
}

svg.mini-tree {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

u {
  cursor: pointer;
}